{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

{% endblock %}
{% if app.user %}

    <nav class="navbar navbar-expand-lg navbar-custom m-0">
        <a class="navbar-brand" href="#">PLANTASTICK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button class=" navbar-right btn btn-outline-secondary text-right ml-2"> <a href="{{ path('cart') }}">Sklep</a></button>

                </li>
                <li class="nav-item">
                    <button class=" navbar-right btn btn-outline-secondary text-right ml-2"> <a href="{{ path('cart') }}">O nas</a></button>

                </li>
                <li class="nav-item">
                    <button class=" navbar-right btn btn-outline-secondary text-right ml-2"> <a href="{{ path('cart') }}">Kontakt</a></button>

                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item" >
                        <button class=" navbar-right btn btn-outline-secondary text-right ml-2"> <a href="{{ path('easyadmin') }}">Admin panel</a></button>

                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
             Cześć {{ app.user.username }}! </span>
            <button class=" navbar-right btn btn-outline-secondary text-right ml-2"> <a href="{{ path('cart') }}">Koszyk</a></button>

            <button class=" navbar-right btn btn-outline-secondary text-right ml-2"> <a href="{{ path('app_logout') }}">Panel użykownika</a></button>

            <button class=" navbar-right btn btn-outline-secondary text-right ml-2 mr-0"> <a href="{{ path('app_logout') }}">Wyloguj</a></button>


        </div>
    </nav>

{% else %}
    <nav class="navbar navbar-expand-lg navbar-custom ">
        <a class="navbar-brand" href="#">PLANTASTICK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sklep </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kontakt</a>
                </li>

            </ul>
            <span class="navbar-text">
            <button class=" navbar-right btn btn-outline-secondary text-right ml-2"> <a href="{{ path('cart') }}">Koszyk</a></button>
            <button class=" navbar-right btn btn-outline-secondary text-right"> <a href="{{ path('app_login') }}">Logowanie</a></button>
            <button class=" navbar-right btn btn-outline-secondary text-right"> <a href="{{ path('app_register') }}">Rejestracja</a></button>

        </span>
        </div>
    </nav>


{% endif %}
<main>
    <div class="container pt-5">
        <div class="grid second-nav">
            <div class="column-xs-12">
                <nav>
                    <ol class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="{{ asset('/') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ asset('product') }}">Sklep</a></li>
                        <li class="breadcrumb-item active">{{ asset(product.GetName) }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="grid product">
            <div class="column-xs-12 column-md-7">
                <div class="product-gallery">
                    <div class="product-image">
                        <img class="active" src="{{ asset ('/css/images/'~product.GetImageSource) }}">
                    </div>

                </div>
            </div>
            <div class="column-xs-12 column-md-5">
                <div class="col-md-8">
                    <h1 class="mt-4 mt-md-0">{{ product.name }}</h1>

                    <hr>
                    <b>Description: </b>{{ product.about }}
                    {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light '}}) }}
                    <div class="form-group">
                        {{ form_row(product.price) }}
                        {{ form_label(form.quantity) }}
                        {{ form_widget(form.quantity, {
                            'attr': {
                                'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                            }
                        }) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.quantity) }}
                        </div>
                    </div>
                    {{ form_widget(form.add, {'attr': {'class': 'btn btn-outline-secondary w-auto'}}) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

    </div>

    <button class=" btn btn-outline-secondary text-right ml-2"> <a href="{{ path('product_index') }}">Powrót do sklepu</a></button>
<br><br>
    <footer >
        <div class="sep"> <br></div>
        <div class="container">
            <div class="row">
                <div class="col-sm  col-3 m-3 ">
                    <h3>INFO</h3>
                    <p>bla</p>
                    <p>bla</p>
                    <p>bla</p>
                </div>
                <div class="col-sm  col-3 m-3">
                    <h3>KONTAKT</h3>
                    <p>Skąd</p>
                    <p>bla</p>
                </div>
                <div class="col-sm  col-3 m-3">
                    <h2>COŚ TAM </h2>
                    <p>Regulamin</p>
                </div>
            </div>
        </div>
    </footer>
</main>

<script>
    const activeImage = document.querySelector(".product-image .active");
    const productImages = document.querySelectorAll(".image-list img");
    const navItem = document.querySelector('a.toggle-nav');

    function changeImage(e) {
        activeImage.src = e.target.src;
    }

    function toggleNavigation(){
        this.nextElementSibling.classList.toggle('active');
    }

    productImages.forEach(image => image.addEventListener("click", changeImage));
    navItem.addEventListener('click', toggleNavigation);
</script>
