{% extends 'base.html.twig' %}

{% block title %}Szczegóły produktu{% endblock %}

{% block body %}
    {% if app.user %}

        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand" href="#">PLANTASTICK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#shop">Sklep </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">O nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Kontakt</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item" >
                            <a class="nav-link" href="{{ path('easyadmin') }}"> Admin panel</a>
                        </li>
                    {% endif %}
                </ul>
                <span class="navbar-text">
             Cześć {{ app.user.username }}! </span>
                <button class=" navbar-right btn btn-outline-secondary text-right ml-2"> <a href="{{ path('app_logout') }}">Panel użykownika</a></button>

                <button class=" navbar-right btn btn-outline-secondary text-right ml-2"> <a href="{{ path('app_logout') }}">Wyloguj</a></button>


            </div>
        </nav>

    {% else %}
        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand" href="#">PLANTASTICK</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sklep </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">O nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontakt</a>
                    </li>

                </ul>
                <span class="navbar-text">
                        <button class=" navbar-right btn btn-outline-secondary text-right"> <a href="{{ path('app_login') }}">Logowanie</a></button>
                                <button class=" navbar-right btn btn-outline-secondary text-right"> <a href="{{ path('app_register') }}">Rejestracja</a></button>

        </span>
            </div>
        </nav>


    {% endif %}
{#    <h1>Product</h1>#}

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ product.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Name</th>#}
{#                <td>{{ product.name }}</td>#}
{#            </tr>#}
            {% for price in product.price %}
            <tr>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
{#            <tr>#}
{#                <th>ImageSource</th>#}
{#                <td><img src="{{ asset('/css/images/'~product.GetImageSource) }}"></td>#}
{#            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">Sklep</a>


{% endblock %}
